@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-send-flowers: 'Send Flowers', cursive;
  --font-sunflower: 'Sunflower', sans-serif;
}